@tailwind base;
@tailwind components;
@tailwind utilities;


/* font */
@font-face {
  font-family: myFirstFont;
  src: url(/public/font/Comfortaa-Regular.ttf);
}

/* html{
  font-family: myFirstFont, cursive,sans-serif;
}  */

/* custom classes */
.box-shadow-large{
    box-shadow:30px 30px 100px #4CD9ED, -30px -30px 100px #4CD9ED;
}